

<nav>
    <a *ngFor="let link of links; index as i" [ngClass]="{'nav-active': selectedIndex === i}" (click)="navigateTo(i)">{{link.name}}</a>
</nav>

<!-- <mft-wc-wrapper [options]="options" [props]="props"></mft-wc-wrapper> -->
<div class="content">
    <router-outlet></router-outlet>
</div>


<div class="vertical-menu">
    <a href="#" class="active">Tasks</a>
    <a *ngFor="let p of plugins" (click)="add(p)">Add {{p.displayName}}</a>
</div>

<ng-container *ngFor="let p of workflow; let last = last">
    <plugin-proxy [options]="p"></plugin-proxy>
    <i *ngIf="!last" class="arrow right"></i>
</ng-container> 

<p style="clear:both">&nbsp;</p>
<p>&nbsp;</p>